# This File is Created by Tang Dynasty.
set ADCList {"../../top.adc"}
set IpSDCList { TEMAC_CORE ../../../../lab_ex_4_tf_sdram_etnernet_pc/UDP_EG4_6.2/prj/UDP_EXAMPLE/al_ip/TEMAC_CORE/TEMAC_CORE.sdc rfifo_32_32_512 ../../../../lab_ex_6_tf_sdram_hdmi/al_ip/afifo_32_16_256.tcl wfifo_32_32_512 ../../../../lab_ex_6_tf_sdram_hdmi/al_ip/afifo_16_32_256.tcl }
set SDCList {"../../top.sdc"}
set area_option -packarea
set arr_filter false
set chipDebugger ../../chip_debugger
set device_name eagle_s20.db
set drHoldFix on
set end_step bitgen
set package_name EG4S20BG256
set parent ../syn_1
set prj_name {q4}
set run_type phy
set start_step opt_place
set top_model_name {top_dual_udp}
